<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--settings api HARAVAN-->
    <add key="Url_first" value="https://accounts.haravan.com/connect/authorize?response_mode=form_post&amp;response_type=code id_token" />
    
	  <add key="URL_CallBack" value="http://localhost:8008/install/login" />
    
    <add key="URL_CallBack_install" value="http://localhost:8008/install/grandservice" />
	
    <add key="nonce" value="abc123" />
    <add key="app_id" value="a28ee0b137bbf1bd5948a413583fa026" />
    <add key="app_secret" value="7cd8097bae18273e8e779a052a8e9fc099c903a71e010f329a17d8760532b8b7" />
    <add key="scope_login" value="openid profile email org userinfo" />

    <add key="scope_install" value="openid profile email org userinfo grant_service web.write_contents com.write_orders com.read_orders web.write_themes web.read_themes wh_api" />
    <add key="URL_getACTO" value="https://accounts.haravan.com/connect/token" />
    <add key="URL_GETINFO" value="https://apis.haravan.com/web/shop.json" />
    <add key="URL_GET_ORDER_DETAILS" value="https://apis.haravan.com/com/orders/" />
	<add key="URL_GET_THEMES" value="https://apis.haravan.com/web/themes.json" />
	<add key="URL_UPDATE_CART" value="https://apis.haravan.com/web/themes/" />
	<add key="Verify_token" value="hWbKWXadLbbHaADRW2D6V8cPsOmrUJQbHuy" />
    <!--api minvoice-->
  <add key="URL_GET_SERIES32" value="https://testapi.minvoice.com.vn/api/System/GetDataReferencesByRefId?refId=RF00027" />
  <add key="URL_GET_SERIES" value="https://testapi.minvoice.com.vn/api/Invoice68/GetTypeInvoiceSeries?type" />
  <add key="URL_LOGIN" value="https://testapi.minvoice.com.vn/api/Account/Login" />
  <add key="URL_SAVE" value="https://testapi.minvoice.com.vn/api/InvoiceAPI78/Save" />
    <!--settings  mail-->
    <add key="subject" value="Đăng ký mua hóa đơn từ hệ thống app Minvoice-Haravan" />
    
    <add key="FromMail" value="hddtminvoice@gmail.com" />
    <add key="password" value="123123Hh!" />
    <add key="emailTo" value="qhuylk49@gmail.com" />
    <add key="bcc" value="huydq@minvoice.vn, trongnt@minvoice.vn, hadv@minvoice.vn, tuan.tranminh@haravan.com, nhan.letrong@haravan.com" />
    <add key="smtp" value="smtp.gmail.com" />
    <add key="port" value="587" />
    <add key="ssl" value="true" />
    <!--settings  user login-->
    <add key="username" value="ADMINISTRATOR" />
    <add key="pass" value="kythuat" />
    <add key="ma_dvcs" value="VP" />
	  <add key="mst" value="0106026495888" />
    <!--settings  link checkout-->

    <!--<add key="link_checkout" value="https://apps.haravan.com/checkouts/92ec36cdec8641d68edaac915ce08c3b?email=huydq%40minvoice.vn&amp;full_name=Quang+Huy" />-->
    <add key="link_checkout" value="" />
  </appSettings>
  <system.web>
	<customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <system.webServer>
  <httpProtocol>
    <customHeaders>
	  <clear />
      <add name="Access-Control-Allow-Origin" value="*" />
	  <add name="Access-Control-Allow-Credentials" value="true" />
      <add name="Access-Control-Allow-Headers" value="X-AspNet-Version,X-Powered-By,Date,Server,Accept,Accept-Encoding,Accept-Language,Cache-Control,Connection,Content-Length,Content-Type,Host,Origin,Pragma,Referer,User-Agent" />
      <add name="Access-Control-Allow-Methods" value="GET, PUT, POST, DELETE, OPTIONS" />
      <add name="Access-Control-Max-Age" value="1000" />
    </customHeaders>
  </httpProtocol>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <connectionStrings>
    <add name="Minvoice_HaravanEntities" connectionString="metadata=res://*/Models.Model_HD.csdl|res://*/Models.Model_HD.ssdl|res://*/Models.Model_HD.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NITRO-5;initial catalog=Minvoice_Haravan;persist security info=True;user id=sa;password=1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Minvoice_HaravanEntities1" connectionString="metadata=res://*/Models.Model_HD.csdl|res://*/Models.Model_HD.ssdl|res://*/Models.Model_HD.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NITRO-5;initial catalog=Minvoice_Haravan;persist security info=True;user id=sa;password=1234;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Minvoice_HaravanEntities2" connectionString="metadata=res://*/Models.Model_HD.csdl|res://*/Models.Model_HD.ssdl|res://*/Models.Model_HD.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NITRO-5;initial catalog=Minvoice_Haravan;persist security info=True;user id=sa;password=1234;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Minvoice_HaravanEntities3" connectionString="metadata=res://*/Models.Model_HD.csdl|res://*/Models.Model_HD.ssdl|res://*/Models.Model_HD.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=210.211.127.79,1111;initial catalog=Minvoice_Haravan;persist security info=True;user id=haravan;password=haravan@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>