
@{
    ViewBag.Title = "GetThongTin";
    Layout = "~/Views/Layout/_LayoutPage.cshtml";
}

<div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="wpb_text_column wpb_content_element "><div class="wpb_wrapper"><h1 class="entry-title" style="text-align: center; font-size: 24px; margin-top: 0px; margin-bottom: 15px; font-family: Arial, Helvetica, sans-serif; line-height: 30px; color: #444444;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Đăng ký sử dụng Hóa đơn điện tử M-Invoice thành công!…</h1><p style="background-color: #d9edf7; text-align: center; margin: 0 0 20px 0; padding: 7px 0 5px 10px; font-size: 150%; font-weight: bold; border-radius: 4px; border-bottom: 1px solid #ddd;">Xin Cám ơn Bạn đã quan tâm đến sản phẩm dịch vụ của M-Invoice</p></div></div></div></div></div></div>
<div class="vc_row wpb_row vc_row-fluid vc_custom_1529654128638"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="wpb_text_column wpb_content_element "><div class="wpb_wrapper"><p style="text-align: center;"><span style="font-family: helvetica, arial, sans-serif; font-size: 14pt; color: #0089bd;">M-Invoice sẽ liên lạc với bạn trong thời gian sớm nhất!</span></p><p style="text-align: center;"><span style="font-family: helvetica, arial, sans-serif; font-size: 14pt; color: #0089bd;">Trân trọng cám ơn bạn đã quan tâm tới M-Invoice</span></p></div></div></div></div></div></div>
<div class="row">
    <div class="col-md-12 col-xs-12" style="text-align:center">
        <img src="~/Content/img/quobee2.gif" class=" img img-fluid" style="width:15%" />
    </div>
</div>